html,body {
	height: 100%;
}

.float {
	float: left
}

a {
	text-decoration: none
}

.nav_ li {
	list-style: none;
	float: left;
	border-right: solid 1px #E3E3E3;
	width: 80px;
	height: 45px;
}
.nav_ li:first-child {
	border-left: solid 1px #E3E3E3;
}

.nav_ dd {
	width: 100%;
	margin-left:0;
	text-align: center;
	font-size: 13px;
}

.nav_ a {
	width: 100%;
	display: block
}

.nav_ dl {
	width: 90%;
	margin: auto
}

.nav_ dl img {
	display: block;
	margin: auto;
	width: 60px;
	height: 30px
}

.nav_ {
	padding-top: 3px;
	margin-left: 20px;
}

.nav_ li {
	transition: 300ms
}

/* .nav_ li:hover {
	background-color: #f5f5f5
} */