*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000;
    box-sizing: border-box;
}
.FLC{
    float: left;
    clear: both;
}
.padding-top{
    padding-top: 37px;
}
.auto{
    margin: auto;
}
.FL{
    float: left;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
}
.text-align{
    text-align: center;
}
.size{
    width: 756px;
    height: 1086px;
    border: solid 1px;
}
.headautotext{
    font-size: 20px;text-align: center;width: 92%;border-bottom: solid 2px #000;padding-bottom: 2px;font-weight: bold
}
.logo img{
    display: block;width: 200px;height:200px;margin-top: 30px
}
.term{
    font-weight: bold;clear: both;padding-top: 20px
}
.term-title{
    padding:3px 25px 0 0;float: left;font-size: 20px;
}
.term-capacity{
   border: none; border-bottom: solid 1px #000;padding:0 10px 1px 10px;box-sizing: border-box;float: left;font-size: 20px;
    display: inline;width: 224px;text-align: center;font-weight: bold;
}
input{
    outline: none;
}
.medical-history{
    width: 95%;
}
.fill{
    font-size: 14px;width: 90%;border: solid 1px #000;height: 35px;box-sizing: border-box
}
.medical-term{
    width: 100%;
 }
.medical-table{
    width: 100%;
    clear: both;
}
.medical-table table{
    width: 100%;
}
.medical-table table td{
    padding: 5px;
    border-right: solid 1px #000;
    text-align: center;
    height: 28px;
}
.medical-table table thead td{
    border-bottom: solid 1px #000;
    font-size: 15px;
}
.status{
    width: 100%;
    margin-top: 20px;
}
.status table td{
    padding: 3px !important;
    padding: 5px;
    height: 28px !important;
    height: 28px;
    border-right: solid 1px #000;
    text-align: left;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    width: 16.6666%;
    font-size: 15px;
}
.status table td:last-child,.evaluate table td:last-child,.all-tableInspect table td:last-child{
    border-right:none;
}
.status tbody tr:last-child td,.evaluate tbody tr:last-child td,.all-tableInspect tbody tr:last-child td{
    border-bottom: none;
}
.status table td:nth-child(even){
    text-align: center;
}
.cont-all{
    width: 90%;
    margin: auto;
}
.Three-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.Three-term{
    padding-top: 16px;
    padding-bottom: 2px;
    border-bottom:solid 2px #000 ;
    font-size: 15px;
}
.overview>div{
   margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.overview>div ul{
    margin-top: 10px;
}
.overview>div li{
    list-style:none;
}
.border-top{
    border-top: solid 1px #000;
}
.evaluate{
    padding-top: 30px;
    width: 63%;
}
.evaluate table td{
    padding: 5px;
    border-right: solid 1px #000;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    font-size: 15px;
}
.all-tableInspect,.all-tableInspect table{
    width: 100%;
    margin-top: 1px;
}
.all-tableInspect{
    border-bottom: solid 1px #000;
}
.all-tableInspect td{
    padding: 1px !important;
    padding: 3px;
    height: 22px !important;
    height: 22px;
}
.bgc{
    background-color: #bcbcbc;
}
.all-tableInspect thead td{
    font-size: 14px;
    font-weight: bold;
}
.all-tableInspect  td{
    border-right: solid 1px #000;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    font-size: 14px;
}
.all-tableInspect  td:nth-child(3),.all-tableInspect  td:nth-child(4),.all-tableInspect  td:nth-child(5){
    text-align: center;
}
.txtNone{
    width: 90%;
    height: 45px;
    resize: none;
    outline: none;
    border: none;
    font-size: 15px;
}
.PrintHead,.PrintFoot{
    width: 100%;
    float: left;
    clear: both;
}
.PrintHead{
    height: 90%;
}
.PrintFoot{
    height: 10%;
    background-color: #E3E3E3;
    border-top: solid 1px #d1d1d1;
    box-shadow: 0 -1px 1px #fff,0 -2px 1px #E3E3E3;
    text-align: center;
}
.PrintFoot span,.PrintFoot input{
/*     margin-top: 15px; */
/*     font-size: 16px; */
/*     padding: 3px; */
}
.PrintFoot input[type="text"]{
    width: 160px;
}
.header-left,.header-right{
    float: left;
    height: 100%;
    padding:0 0 0 10px ;
}
.header-left{
    width: 30%;
    overflow-y: auto;
}
.header-right{
    width: 70%;
}
.header-left table{
    width: 100%;
}
.header-left table  td:not(:last-child){
    border-right: solid 1px #E3E3E3;
}
.header-left table td:first-child,.header-left table thead td{
    text-align: center;
}
.header-left table td{
    padding: 5px 0;
    border-bottom: solid 1px #E3E3E3;
    font-size: 15px;
    text-indent: 5px;
}
.header-left table thead td{
    background-color: #dedede;
    border-bottom: solid 1px #e3e3e3;
    box-shadow:inset 0 -1px 1px #999999;
}
.header-r-t{
    float: left;
    clear: both;
    background-color: #dedede;
    padding: 10px;
    width: 100%;
    border-bottom: solid 1px #e3e3e3;
    box-shadow:inset 0 -1px 1px #999999;
}
.header-r-b{
    float: left;
    clear: both;
    overflow-y: auto;
    width: 100%;height:100%;
}
.header-r-t span{
    font-size: 16px;
    margin-left: 20px;
}
.header-r-t select{
    width: 100px;
    font-size: 16px;
}
.ALL-PRINTDIV>div{
    float: left;
    clear: both;
}