*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000;
    box-sizing: border-box;
}
.FLC{
    float: left;
    clear: both;
}
.padding-top{
    padding-top: 37px;
}
.auto{
    margin: auto;
}
.FL{
    float: left;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
}
.text-align{
    text-align: center;
}
.size{
    width: 756px;
    height: 1086px;
    border: solid 1px;
}
.headautotext{
    font-size: 20px;text-align: center;width: 92%;border-bottom: solid 2px #000;padding-bottom: 2px;font-weight: bold
}
.logo img{
    display: block;width: 200px;height:200px;margin-top: 30px
}
.term{
    font-weight: bold;clear: both;padding-top: 20px
}
.term-title{
    padding:3px 25px 0 0;float: left;font-size: 20px;
}
.term-capacity{
   border: none; border-bottom: solid 1px #000;padding:0 10px 1px 10px;box-sizing: border-box;float: left;font-size: 20px;
    display: inline;width: 224px;text-align: center;font-weight: bold;
}
input{
    outline: none;
}
.medical-history{
    width: 95%;
}
.fill{
    font-size: 14px;width: 90%;border: solid 1px #000;height: 35px;box-sizing: border-box
}
.medical-term{
    width: 100%;
 }
.medical-table{
    width: 100%;
    clear: both;
}
.medical-table table{
    width: 100%;
}
.medical-table table td{
    padding: 5px;
    border-right: solid 1px #000;
    text-align: center;
    height: 28px;
}
.medical-table table thead td{
    border-bottom: solid 1px #000;
    font-size: 15px;
}
.status{
    width: 100%;
    margin-top: 20px;
}
.status table td{
    padding: 3px !important;
    padding: 5px;
    height: 28px !important;
    height: 28px;
    border-right: solid 1px #000;
    text-align: left;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    width: 16.6666%;
    font-size: 15px;
}
.status table td:last-child,.evaluate table td:last-child,.all-tableInspect table td:last-child{
    border-right:none;
}
.status tbody tr:last-child td,.evaluate tbody tr:last-child td,.all-tableInspect tbody tr:last-child td{
    border-bottom: none;
}
.status table td:nth-child(even){
    text-align: center;
}
.cont-all{
    width: 90%;
    margin: auto;
}
.Three-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.Three-term{
    padding-top: 16px;
    padding-bottom: 2px;
    border-bottom:solid 2px #000 ;
    font-size: 15px;
}
.overview>div{
   margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.overview>div ul{
    margin-top: 10px;
}
.overview>div li{
    list-style:none;
}
.border-top{
    border-top: solid 1px #000;
}
.evaluate{
    padding-top: 30px;
    width: 63%;
}
.evaluate table td{
    padding: 5px;
    border-right: solid 1px #000;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    font-size: 15px;
}
.all-tableInspect,.all-tableInspect table{
    width: 100%;
    margin-top: 1px;
}
.all-tableInspect{
    border-bottom: solid 1px #000;
}
.all-tableInspect td{
    padding: 1px !important;
    padding: 3px;
    height: 22px !important;
    height: 22px;
}
.bgc{
    background-color: #bcbcbc;
}
.all-tableInspect thead td{
    font-size: 14px;
    font-weight: bold;
}
.all-tableInspect  td{
    border-right: solid 1px #000;
    text-indent: 3px;
    border-bottom: solid 1px #000;
    font-size: 14px;
}
.all-tableInspect  td:nth-child(3),.all-tableInspect  td:nth-child(4),.all-tableInspect  td:nth-child(5){
    text-align: center;
}
.txtNone{
    width: 90%;
    height: 45px;
    resize: none;
    outline: none;
    border: none;
    font-size: 15px;
}
.LEFT{
    width: 30%;
    height: 100%;
}
.CENTER{
    width: 1px;
    height: 100%;
    background-color: #DEE0D5;
    box-shadow: 1px 0 1px #D0D2C8,
    2px 0 1px #989991,3px 0 1px #8C8C85,4px 0 1px #EBEBE7,-1px 0 1px #DCDED3,-2px 0 1px #E3E5DA,
    -3px 0 1px #fdfff6,-4px 0 1px #dcddd6,-5px 0 1px #eeefe9;
}
.RIGHT{
    width: 69%;
    height: 100%;
}
.NoEdit,.CanEdit{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 96px;
    height: 83px;
    border: solid 1px #C2C3C3;
    box-shadow:inset 1px -1px 1px #cfd0d0,inset -1px 1px 1px #cfd0d0;
    display: inline;
}
.NoEdit dl,.CanEdit dl{
    width:50px;
}
.NoEdit dt,.CanEdit dt,.NoEdit dt img,.CanEdit dt img{
    display: block;
    width: 100%;
    height:50px ;
    margin-top: 5px;
}
.NoEdit dd,.CanEdit dd{
    margin-top: 5px;
    height: 24px;
}
.Serial,.Serial1{
    width: 108%;
    padding: 1px;
    margin-left: -4%;
    border-radius: 2px;
    font-size: 15px;

}
.Serial4{
    background-color: #DDC900;
    box-shadow: 1px 1px 1px #EDDB24;
}
.Serial3{
    background-color: #C1DDC1;
    box-shadow: 1px 1px 1px #D3E8D3;
}
.Serial2{
    background-color: #64C900;
    box-shadow: 1px 1px 1px #74D80F;
}
.Serial1{
    background-color: #0191FD;
    box-shadow: 1px 1px 1px rgba(1, 146, 255, 0.62);
}
.Serial{
    background-color: #FE0102;
    box-shadow: 1px 1px 1px rgba(254, 1, 2, 0.69);
}
.titleImg{
    width: 102%;
    height: 4px;
    margin-left: -2%;
    border-top-left-radius: 2px;
    box-shadow: 1px 1px 1px rgba(254, 1, 2, 0.69);
    background-color:#FE0102 ;
    margin-top: -6px;
}
.cont-Input{
    width: 100%;
}
.cont-Input table{
    border: solid 1px #000000;
    margin-top: 5px;
    width: 100%;
}
.cont-Input table td{
    border:solid 1px #000000;
    height: 27px;
    line-height: 27px;
    text-indent: 3px;
    padding:3px;
}
.cont-Input table tr:nth-child(1) td{
    text-align: center;
}
.oneT{
    width: 30%;
}
.towT{
    width: 5%;
}
.threeT{
    width: 20%;
}
.fourT{
    width: 15%;
}
.fiveT{
    width: 30%;
}

.cont-Input table td input{
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.Img{
    width: 15px;
    height: 15px;
    margin: 2px 5px 0 5px;

}
.img-pos{
    position: absolute;
    top: 73px;
    right: 0;
}